<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CareWPD.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CareWPD.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <!-- Uncomment the below section to write to the Application Event Log -->
          <!-- <add name="EventLog"/> -->
        </listeners>
      </source>
      <!-- This section defines the logging configuration for general logging messages -->
      <!-- Set the switchValue to control the output of trace information
			     Values are "Off" = No output, "Information" = Log Information Messages -->
      <source name="Logging" switchValue="Off">
        <listeners>
          <add name="CDBLogs" type="System.Diagnostics.TextWriterTraceListener" traceOutputOptions="None" initializeData="CDBLogging.log"/>
        </listeners>
      </source>
      <!-- This section defines the logging configuration for WEB Services -->
      <!-- Set the switchValue to control the output of trace information
			     Values are "Off" = No output, "Information" = Call start and end information, "Verbose" = All call information -->
      <source name="WebService" switchValue="Off">
        <listeners>
          <add name="CDBWSCalls" type="System.Diagnostics.TextWriterTraceListener" traceOutputOptions="None" initializeData="CDBWSCalls.log"/>
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information"/>
    </switches>
    <sharedListeners>
      <!-- Uncomment the below section to write to the Application Event Log -->
      <!-- <add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="CareWPD"/> -->
      <add name="CDBTraceListener" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="CDBTrace.log"/>
    </sharedListeners>
  </system.diagnostics>
  <userSettings>
    <CareWPD.My.MySettings>
      <setting name="DATABASE" serializeAs="String">
        <value>CDBWEBSERVER</value>
      </setting>
      <setting name="WebServiceTimeout" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="ConfirmDelete" serializeAs="String">
        <value>True</value>
      </setting>
    </CareWPD.My.MySettings>
  </userSettings>
  <applicationSettings>
    <CareWPD.My.MySettings>
      <setting name="AllowDatabaseSelection" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CareWPD_CarePortal_PortalAdmin" serializeAs="String">
        <value>http://localhost/CarePortal/Services/PortalAdmin.asmx</value>
      </setting>
    </CareWPD.My.MySettings>
  </applicationSettings>
  <system.serviceModel>
    <diagnostics>
      <messageLogging logEntireMessage="true" logKnownPii="true" logMalformedMessages="true" logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true"/>
      <endToEndTracing propagateActivity="true" activityTracing="true" messageFlowTracing="true"/>
    </diagnostics>
    <bindings>
      <basicHttpBinding>
        <binding name="HttpBinding" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="None" proxyCredentialType="None"/>
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/CareServices/GeneralService.asmx" binding="basicHttpBinding" bindingConfiguration="HttpBinding" contract="CareNetServices.GeneralServiceSoap" name="GeneralServiceSoap"/>
      <endpoint address="http://localhost/CareServices/ExamService.asmx" binding="basicHttpBinding" bindingConfiguration="HttpBinding" contract="ExamsAccess.ExamServiceSoap" name="ExamServiceSoap"/>
      <endpoint address="http://localhost/CareServices/WebAccess.asmx" binding="basicHttpBinding" bindingConfiguration="HttpBinding" contract="CareWebAccess.WebAccessSoap" name="WebAccessSoap"/>
      <endpoint address="http://localhost/CareServices/WorkstreamService.asmx" binding="basicHttpBinding" bindingConfiguration="HttpBinding" contract="WorkstreamService.WorkstreamServiceSoap" name="WorkstreamServiceSoap"/>
      <endpoint address="http://localhost/CareServices/DataService.asmx" binding="basicHttpBinding" bindingConfiguration="HttpBinding" contract="DataService.DataServiceSoap" name="DataServiceSoap"/>
    </client>
  </system.serviceModel>
  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
