<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="HttpBinding"
                 xdt:Locator="Match(name)">
          <security mode="TransportCredentialOnly"
                    xdt:Transform="SetAttributes(mode)" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:2360/GeneralService.asmx"
                name="GeneralServiceSoap"
                xdt:Locator="Match(name)"
                xdt:Transform="SetAttributes(address)" />
      <endpoint address="http://localhost:2360/ExamService.asmx"
                name="ExamServiceSoap"
                xdt:Locator="Match(name)"
                xdt:Transform="SetAttributes(address)" />
      <endpoint address="http://localhost:2360/WebAccess.asmx"
                name="WebAccessSoap"
                xdt:Locator="Match(name)"
                xdt:Transform="SetAttributes(address)" />
      <endpoint address="http://localhost:2360/WorkstreamService.asmx"
                name="WorkstreamServiceSoap"
                xdt:Locator="Match(name)"
                xdt:Transform="SetAttributes(address)" />
      <endpoint address="http://localhost:2360/DataService.asmx"
                name="DataServiceSoap"
                xdt:Locator="Match(name)"
                xdt:Transform="SetAttributes(address)" />
    </client>
  </system.serviceModel>
</configuration>