<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CDBNET.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CDBNET.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <!-- Uncomment the below section to write to the Application Event Log -->
          <!-- <add name="EventLog"/> -->
        </listeners>
      </source>
      <!-- This section defines the logging configuration for general logging messages -->
      <!-- Set the switchValue to control the output of trace information
           Values are "Off" = No output, "Information" = Log Information Messages -->
      <source name="Logging" switchValue="Off">
        <listeners>
          <add name="CDBLogs" type="System.Diagnostics.TextWriterTraceListener" traceOutputOptions="None" initializeData="CDBLogging.log"/>
        </listeners>
      </source>
      <!-- This section defines the logging configuration for WEB Services -->
      <!-- Set the switchValue to control the output of trace information
           Values are "Off" = No output, "Information" = Call start and end information, "Verbose" = All call information -->
      <source name="WebService" switchValue="Off">
        <listeners>
          <add name="CDBWSCalls" type="System.Diagnostics.TextWriterTraceListener" traceOutputOptions="None" initializeData="CDBWSCalls.log"/>
        </listeners>
      </source>
    </sources>
    <trace autoflush="true"/>
    <switches>
      <add name="DefaultSwitch" value="Off"/>
    </switches>
    <sharedListeners>
      <!-- Uncomment the below section to write to the Application Event Log -->
      <!-- <add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="CDBNET"/> -->
      <add name="CDBTraceListener" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="CDBTrace.log"/>
    </sharedListeners>
  </system.diagnostics>
  <userSettings>
    <CDBNET.My.MySettings>
      <setting name="ShowToolbar" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LargeToolbarIcons" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowNavPanel" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LargeNavPanelIcons" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="NavPanelWidth" serializeAs="String">
        <value>192</value>
      </setting>
      <setting name="NavPanelPinned" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="NavPanelHistoryMode" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="NotificationPollingMinutes" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="NotifyActions" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="NotifyDocuments" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="NotifyDeadlines" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="BackgroundImage" serializeAs="String">
        <value/>
      </setting>
      <setting name="BackgroundImageLayout" serializeAs="String">
        <value>None</value>
      </setting>
      <setting name="MainToolbarItems" serializeAs="String">
        <value/>
      </setting>
      <setting name="HistoryDays" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="WindowSizes" serializeAs="String">
        <value/>
      </setting>
      <setting name="UpgradeSettings" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="WebServiceTimeout" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="MainToolBarTipText" serializeAs="String">
        <value/>
      </setting>
      <setting name="PlainEditPanel" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DebugMode" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShowDashboard" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DashboardSize" serializeAs="String">
        <value>151</value>
      </setting>
      <setting name="MainToolBarText" serializeAs="String">
        <value/>
      </setting>
      <setting name="FontThemeID" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="AppearanceThemeID" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ShowHeaderPanel" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowSelectionPanel" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowStatusBar" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="TabIntoDisplayPanel" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TabIntoHeaderPanel" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DisplayDashboardAtLogin" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ConfirmCancel" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ConfirmInsert" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ConfirmUpdate" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ConfirmDelete" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowErrorsAsMsgBox" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LargeGridToolbarIcons" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="NotifyMeetings" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TaskNotificationPollingSeconds" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="HideHistoricNetwork" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FinderResultsMsgBox" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DATABASE" serializeAs="String">
        <value>CDBWEBSERVER</value>
      </setting>
      <setting name="HomeToolbar" serializeAs="Xml">
        <value>
          <HomeToolbar>
            <Section Name="Favourites">
              <Category Name="Finders">
                <MenuItem CommandIndex="cbiContactFinder" ButtonSize="Large"
                  Text="Find Contacts" Tooltip="Search for a Contact in the Database" />
                <MenuItem CommandIndex="cbiOrganisationFinder" ButtonSize="Medium" />
                <MenuItem CommandIndex="cbiEventFinder" ButtonSize="Medium" />
              </Category>
              <Category Name="Queries">
                <MenuItem CommandIndex="cbiQueryByExampleContacts" ButtonSize="Small" />
                <MenuItem CommandIndex="cbiQueryByExampleOrganisations" ButtonSize="Small" />
                <MenuItem CommandIndex="cbiQueryByExampleEvents" ButtonSize="Small" />
              </Category>
              <Category Name="Config">
                <MenuItem CommandIndex="cbiPreferences" ButtonSize="Large" />
                <MenuItem CommandIndex="cbiTableMaintenance" ButtonSize="Medium" />
                <MenuItem CommandIndex="mnuAdminDatabaseUpgrade" ButtonSize="Medium" />
                <MenuItem CommandIndex="cbiMyDetails" ButtonSize="Small" />
                <MenuItem CommandIndex="cbiMyOrganisation" ButtonSize="Small" />
                <MenuItem CommandIndex="cbiMyDocuments" ButtonSize="Small" />
                <MenuItem CommandIndex="cbiMyJournal" ButtonSize="Small" />
              </Category>
              <Category Name="Close">
                <MenuItem CommandIndex="cbiExit" ButtonSize="Small" />
              </Category>
            </Section>
            <Section Name="Exams">
              <Category Name="Exams">
                <MenuItem CommandIndex="mnuExamsMaintenance" ButtonSize="Large" />
                <MenuItem CommandIndex="mnuExamApplyGrading" ButtonSize="Large" />
                <MenuItem CommandIndex="mnuExamEnterResults" ButtonSize="Large" />
              </Category>
            </Section>
          </HomeToolbar>
        </value>
      </setting>
      <setting name="SchemeID" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="FavouriteCommands" serializeAs="Xml">
        <value>
          <FavouriteCommands>
            <MenuItem CommandIndex="cbiContactFinder" />
            <MenuItem CommandIndex="cbiOrganisationFinder" />
            <MenuItem CommandIndex="cbiEventFinder" />
            <MenuItem CommandIndex="cbiPreferences" />
            <MenuItem CommandIndex="mnuExamsMaintenance" />
            <MenuItem CommandIndex="mnuExamApplyGrading" />
            <MenuItem CommandIndex="mnuExamEnterResults" />
          </FavouriteCommands>
        </value>
      </setting>
    </CDBNET.My.MySettings>
  </userSettings>
  <applicationSettings>
    <CDBNET.My.MySettings>
      <setting name="KnowledgebaseUrl" serializeAs="String">
        <value>https://www.advancednfp.com/customer-support/supporthome.aspx</value>
      </setting>
      <setting name="SupportForumUrl" serializeAs="String">
        <value>https://www.advancednfp.com/customer-support/supporthome.aspx</value>
      </setting>
      <setting name="AllowDatabaseSelection" serializeAs="String">
        <value>False</value>
      </setting>
    </CDBNET.My.MySettings>
  </applicationSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="HttpBinding" bypassProxyOnLocal="true" maxReceivedMessageSize="2147483647"
                 useDefaultWebProxy="false">
          <readerQuotas maxDepth="2048" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="8192" maxNameTableCharCount="65535" />
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Windows" proxyCredentialType="Windows" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:2360/GeneralService.asmx" binding="basicHttpBinding" bindingConfiguration="HttpBinding" contract="CareNetServices.GeneralServiceSoap" name="GeneralServiceSoap"/>
      <endpoint address="http://localhost:2360/ExamService.asmx" binding="basicHttpBinding" bindingConfiguration="HttpBinding" contract="ExamsAccess.ExamServiceSoap" name="ExamServiceSoap"/>
      <endpoint address="http://localhost:2360/WebAccess.asmx" binding="basicHttpBinding" bindingConfiguration="HttpBinding" contract="CareWebAccess.WebAccessSoap" name="WebAccessSoap"/>
      <endpoint address="http://localhost:2360/WorkstreamService.asmx" binding="basicHttpBinding" bindingConfiguration="HttpBinding" contract="WorkstreamService.WorkstreamServiceSoap" name="WorkstreamServiceSoap"/>
      <endpoint address="http://localhost:2360/DataService.asmx" binding="basicHttpBinding" bindingConfiguration="HttpBinding" contract="DataService.DataServiceSoap" name="DataServiceSoap"/>
    </client>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <appSettings>
    <add key="EnableWindowsFormsHighDpiAutoResizing" value="true"/>
  </appSettings>
</configuration>
